<launch>
	<!-- start landing_leg_controller node -->
	<node pkg="landing_leg" type="landing_leg_controller" name="landing_leg_controller"/>
	<!-- start landing_leg_server node -->
	<node pkg="landing_leg" type="landing_leg_server" name="landing_leg_server_node"/>
	<!-- start landing_leg_client_init node -->
	<node pkg="landing_leg" type="landing_leg_client_init" name="landing_leg_client_init_node" output="screen"/>
	<!-- start landing_leg_client node -->
	<node pkg="landing_leg" type="landing_leg_client" name="landing_leg_client_node" output="screen"/>
	<!-- start landing_leg_ft_sensor_node node -->
	<node pkg="landing_leg" type="landing_leg_ft_sensor" name="landing_leg_ft_sensor_node" output="screen"/>
	<!-- start velodyne_distance_sensor node -->
	<node pkg="landing_leg" type="velodyne_distance_sensor" name="velodyne_distance_sensor_node" output="screen"/>
	<!-- start pv_car_pose_pub node -->
	<node pkg="landing_leg" type="pv_car_pose_pub" name="pv_car_pose_pub_node" output="screen"/>
</launch>
